
body{
    background-color:#a3b2b6;
    margin:0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

.right{
    float: right;
}





h1{
    /* background-color: rgb(138, 175, 207); */
    margin-top: 10vh;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.like-body{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80);
    /* background-repeat: no-repeat; 
    margin-left: 3vh;
    margin-right: 3vh; 
    background-size: cover;
    background-position: center; */

}

.main-container{
    /* background-color: aqua; */
    margin-top: -15vh;
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color:#686d6070;
    border-radius: 0.7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    row-gap: 4vh;
}

.time{
    margin-top: 10vh;
}

.wrapper{
    width: 40vw;
    height: 30vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    background-color:#daded4;
    border-radius: 0.7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    column-gap: 5vh;
    /* margin-left: 20vh; */
}
.box{
    height: 8vh;
    width: 8vw;
}

.stopwatch-button{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

.button{
    width: 8vw;
    height: 6vh;
    border-radius: 0.52vw;
    font-size: 2.5vh;
    cursor: pointer;
}

#start{
    background-color: green;
    color: white;
}

#pause{
    background-color: rgb(151, 151, 6);
    color: white;
}

#reset{
    background-color: red;
    color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding: 1vh;
    margin-top: 0vh;
    font-size: 4vh;
    
  }

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .main-container{
        /* background-color: aqua; */
        margin-top: -5vh;
        width: 80vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        background-color:#686d6070;
        border-radius: 0.7vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        align-items: center;
        row-gap: 4vh;
    }

    .wrapper{
        width: 70vw;
        height: 30vh;
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        background-color:#daded4;
        border-radius: 0.7vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        align-items: center;
        column-gap: 2vw;
    }
    .box{
        height: 5vh;
        width: 15vw;
    }



    .time{
        margin-top: 10vh;
        font-size: 5vw;
    }


    .stopwatch-button{
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        
    }

    .button{
        width: 20vw;
        height: 6vh;
        border-radius: 0.52vw;
        font-size: 2.5vh;
        cursor: pointer;
    }

    #hour,
    #minute,
    #second,
    #millisecond{
        font-size: 5.8vh;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        padding: 0.4vh;
        margin-top: 0vh;
        font-size: 4vh;
        
      }
}